sample-workflow.json
{
  "name": "Simple Webhook Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d5bb2a4c-2f8a-4b6a-9c9d-7e8f9a1b2c3d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "webhook-1"
    },
    {
      "parameters": {
        "jsCode": "// Process incoming webhook data\nconst incomingData = $input.all();\n\n// Log the received data\nconsole.log('Received webhook data:', JSON.stringify(incomingData, null, 2));\n\n// Process each item\nconst processedData = incomingData.map(item => {\n  return {\n    ...item.json,\n    processed_at: new Date().toISOString(),\n    status: 'processed'\n  };\n});\n\n// Return processed data\nreturn processedData;"
      },
      "id": "f1e2d3c4-b5a6-7c8d-9e0f-1a2b3c4d5e6f",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "message": "=Processed {{ $json.length }} items successfully at {{ $now }}"
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Log Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-03T16:45:00.000Z",
  "versionId": "1"
}